/* Variable Css */
:root {
    /* Colors */
    --orange: hsl(25, 97%, 53%);
    --faint-orange: hsl(25, 97%, 60%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 24%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Font and Typography */
    --body-font: 'Overpass', sans-serif;

    --font-size-normal: 15px;
    --font-size-h1: 1.8rem;
}

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Global Css */
body {
    background: var(--very-dark-blue);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: var(--body-font);
    font-size: var(--font-size-normal);
}

img {
    display: block;
    max-width: 100%;
}

/* Card Style */
.card {
    background: radial-gradient(
        ellipse at top,
        var(--dark-blue),
        hsl(216, 24%, 12%)
    );
    max-width: 412px;
    padding: 2rem;
    margin: 1.6rem;
    border-radius: 30px;
}

.card__star-icon {
    background: var(--dark-blue);

    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card__star-icon img {
    width: 17px;
}

.card__title {
    color: var(--white);
    margin-top: 22px;
    font-weight: 700;
    font-size: var(--font-size-h1);
}

.card__description {
    color: var(--light-grey);
    margin-top: 10px;
    line-height: 1.6rem;
}

.card__raitings {
    display: flex;
    margin-top: 22px;

    display: flex;
    justify-content: space-between;
}

.card__raitings li {
    cursor: pointer;

    background: var(--dark-blue);
    color: var(--light-grey);

    width: 51px;
    height: 51px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

.card__raitings li:hover {
    background: var(--orange);
    color: var(--white);
}

.card__button-submit {
    margin-top: 30px;

    background: var(--orange);
    color: var(--white);
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 3px;

    cursor: pointer;

    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 0.9rem;

    transition: 0.2s;
}

.card__button-submit:hover {
    background: var(--white);
    color: var(--orange);
}

/* Card Focused */
.card__raitings li.hasFocused {
    background: var(--light-grey);
    color: var(--white);
}

/* Card Thank you */
.card-thank-you {
    background: radial-gradient(
        ellipse at top,
        var(--dark-blue),
        hsl(216, 24%, 12%)
    );
    max-width: 412px;
    padding: 1.9rem;
    margin: 1.6rem;
    border-radius: 30px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-thank-you__title {
    color: var(--white);
    margin-top: 22px;
    font-weight: 700;
    font-size: var(--font-size-h1);
}

.card-thank-you__illustration img {
    margin-top: 10px;
}

.card-thank-you__selection {
    margin-top: 22px;

    background: var(--dark-blue);
    color: var(--orange);
    border-radius: 30px;

    padding: 6px 18px;

    margin-bottom: 10px;
    margin-top: 30px;
}

.card-thank-you__description {
    color: var(--light-grey);
    margin-top: 10px;
    line-height: 1.6rem;

    padding: 0.3rem;
}

/* Card visible */
.hasHidden {
    display: none;
}

/* Button focused */
.hasFocused {
    color: var(--white);
    font-weight: 700;
}

/* Raiting undefined */
.card__button-submit:disabled {
    background: var(--faint-orange);
    color: var(--white);
    opacity: 0.3;
    cursor: not-allowed;
}

/* Footer Style */
.attribution {
    color: var(--white);
    font-weight: 700;
}

.attribution a {
    color: var(--orange);
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .card__raitings li {
        width: 48px;
        height: 48px;
    }
}
